name: Python application

on:
  pull_request:
  
# concurrency:
#   group: build-${{ github.ref }}
#   cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  build:
    if: startsWith(github.head_ref,'mq-tmp-') != true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v1
      with:
        python-version: 3.12
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        #pip install -r src/requirements.txt
        sleep 10
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        ./pytest_single.sh test_math_operations.py
